/* ===========================
VARIABLES
============================= */

$white: #fff;
$black: #000000;
$outline-color: #000038;

$rounded-corners: 6px;

/* 
BREAKPOINTS 
================================== */

$image-break: 500px;
$tablet-monitor: 768px;
