/* PROJECT STYLES 
========================================== */

.projects ul,
.education ul {
    list-style: square;
}

.projects ul li,
.education ul li {
    font-size: medium;
    margin: 5px 15px;
}